
# PlanAhead Generated physical constraints 

NET "instruction[7]" LOC = P130;
NET "instruction[6]" LOC = P129;
NET "instruction[5]" LOC = P127;
NET "instruction[4]" LOC = P126;
NET "instruction[3]" LOC = P125;
NET "instruction[2]" LOC = P124;
NET "instruction[1]" LOC = P121;
NET "instruction[0]" LOC = P120;
NET "nextAddress[7]" LOC = P105;
NET "nextAddress[6]" LOC = P104;
NET "nextAddress[5]" LOC = P103;
NET "nextAddress[4]" LOC = P102;
NET "nextAddress[3]" LOC = P101;
NET "nextAddress[2]" LOC = P99;
NET "nextAddress[1]" LOC = P98;
NET "nextAddress[0]" LOC = P96;
NET "out1[6]" LOC = P10;
NET "out1[5]" LOC = P8;
NET "out1[4]" LOC = P7;
NET "out1[3]" LOC = P6;
NET "out1[2]" LOC = P5;
NET "out1[1]" LOC = P4;
NET "out1[0]" LOC = P3;
NET "out2[6]" LOC = P19;
NET "out2[5]" LOC = P18;
NET "out2[4]" LOC = P16;
NET "out2[3]" LOC = P15;
NET "out2[2]" LOC = P13;
NET "out2[1]" LOC = P12;
NET "out2[0]" LOC = P11;
NET "out3[6]" LOC = P29;
NET "out3[5]" LOC = P28;
NET "out3[4]" LOC = P27;
NET "out3[3]" LOC = P25;
NET "out3[2]" LOC = P24;
NET "out3[1]" LOC = P21;
NET "out3[0]" LOC = P20;
NET "out4[6]" LOC = P64;
NET "out4[5]" LOC = P63;
NET "out4[4]" LOC = P62;
NET "out4[3]" LOC = P60;
NET "out4[2]" LOC = P59;
NET "out4[1]" LOC = P58;
NET "out4[0]" LOC = P55;
NET "clk" LOC = P57;
NET "reset" LOC = P47;
